include ../mixins/all

//- jade variables
- var htmlClass = '';
block variables

doctype html
html(lang="nl", class='#{htmlClass}')
  head
    title Template

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="cleartype", content="on")
    meta(name="author", content="Bokdem")
    meta(name="format-detection", content="telephone=no")

    link(rel="stylesheet", type="text/css", href="#{CSS_URL}all.min.css")

    link(rel="apple-touch-icon" sizes="57x57" href="")
    link(rel="apple-touch-icon" sizes="114x114" href="")
    link(rel="apple-touch-icon" sizes="72x72" href="")
    link(rel="apple-touch-icon" sizes="144x144" href="")
    link(rel="apple-touch-icon" sizes="60x60" href="")
    link(rel="apple-touch-icon" sizes="120x120" href="")
    link(rel="apple-touch-icon" sizes="76x76" href="")
    link(rel="apple-touch-icon" sizes="152x152" href="")
    link(rel="apple-touch-icon" sizes="180x180" href="")
    link(rel="icon" type="image/png" href="" sizes="")
    link(rel="icon" type="image/png" href="" sizes="")
    link(rel="icon" type="image/png" href="" sizes="")
    link(rel="icon" type="image/png" href="" sizes="")
    link(rel="icon" type="image/png" href="" sizes="")  


  body

    .wrapper

        <!--[if lte IE 9]>
        <p class="browsehappy">Your browser is out of date. <a href="http://browsehappy.com/">Learn how to update your browser</a></p>
        <![endif]-->

        //- Header with offcanvas trigger and user settings trigger
        block header
          //- include _header

        .inner(class="push")

          //- Main container
          block content-wrapper
            .main
              block content

        //- Footer
        block footer
          footer.footer(class="")

      block js
        script(src="#{JS_URL}libs.min.js" defer)
        script(src="#{JS_URL}app.min.js" defer)
        script(src="/test.js", defer)
